POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB_NAME=
POSTGRES_PORT=
POSTGRES_CONTAINER_PORT=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_HOST_PORT=
PGADMIN_CONTAINER_PORT=

RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=
RABBITMQ_HOST_PORT=
RABBITMQ_CONTAINER_PORT=
RABBITMQ_DASHBOARD_HOST_PORT=
RABBITMQ_DASHBOARD_CONTAINER_PORT=

ASPNET_HOST_PORT=
ASPNET_CONTAINER_PORT=

SVELTEKIT_HOST_PORT=
SVELTEKIT_CONTAINER_PORT=
